<h1>Eat-Da-Burger!</h1>






<div class="contenedor">
  <div class="bloque">
    <img src="assets/img/burger.png"alt="burger" width="50px" height="50px">
    

    <ul>
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="bloque">
   

    <ul>
      {{#each burgers}}
        {{#if devoured}}
          <li>
            {{burger_name}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>


<div class="formulario">
  <h2>Add a burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="ca">Burger name:</label>
      <input type="text" id="ca" name="name">
    </div>

    
    <button class="submitburger" type="submit">Add a burger</button>
  </form>
</div>